<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div>
<h2>
<span th:text="${picture.fileName}"></span>
</h2>
</div>
<div>
    <a th:href="@{'/detail/image?id='+${picture.id}}">
<img th:src="@{'img/thumbnail/'+ ${picture.fileName}} " />
    </a>
    <span>상태:</span>
    <span th:text="${picture.state}"></span>
</div>

<form th:action="@{'/transfer/'+${picture.id}}" method="get">
    <button>classify</button>
</form >
<form th:action="@{'/delete/'+${picture.id}}" method="post">
    <input type="hidden" name="_method" value="delete" />
    <button class="link-delete-article" type="submit">삭제</button>
</form>

</body>
</html>